#titulo {
  font-family: "Rockwell", sans-serif;
}

.h2 {
  font-family: "Montserrat" sans-serif;
}

.h5 {
  font-family: "Montserrat" sans-serif;
}

#map {
  min-height: 300px;
  width: 100%;
  margin: 0px;
}

.featurette {
  position: relative;
  float: left;
}

.featurette-vertical {
  border-right: 1px solid #fff;
}

.featurette-horizontal {
  border-bottom: 1px solid #fff;
}

.copy {
  text-align: center;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .rodapelogo {
    text-align: center;
    /*margin:30px 0px 60px 0px;()*/
  }

  .insta {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
